
@media (min-width: 480px){
.ui-table-responsive .ui-table-tbody>tr>td {
    text-align: left;
    display: block;
    border: 0 none;
    /* width: 100% !important; */
    box-sizing: border-box;
    float: left;
    /* clear: left; */
}}