div,body .ui-table .ui-table-thead {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color :white;
}

th{
    background-color : #C39BD3 !important;
}

tr:nth-child(even) {
    background: #D7BDE2  !important;
}
tr:nth-child(odd) {
    background: #EBDEF0 !important;
}

.navbar{
   width:100%;
}
.container{
    max-width: 100%;
}


.alert-info {
    color: #0c5460;
    background-color: #D7BDE2  !important;
    border-color: #bee5eb;
}
h4{
    text-align: center;
   
}
